<div class="sidebar">

    <h3 class="logo">
        Event Tickets
    </h3>

    <hr>

    <a
        routerLink="/admin/dashboard"
        routerLinkActive="active">

        Dashboard

    </a>

    <a
        routerLink="/admin/users"
        routerLinkActive="active">

        Users

    </a>

    <a
        routerLink="/admin/categories"
        routerLinkActive="active">

        Categories

    </a>

    <a
        routerLink="/admin/events"
        routerLinkActive="active">

        Events

    </a>

    <a
        routerLink="/admin/tickets"
        routerLinkActive="active">

        Tickets

    </a>

</div>
